<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>归档信息导入</title>
</head>
<body>
    <h1> 更新业务环节收资联系人信息:</h1>
    <div>
        <p style="display: inline-block">项目名称：</p>
        <input type="text" style="display: inline-block">
    </div>
    <div>
        <p style="display: inline-block">项目竣工时间：</p>
        <input type="time" style="display: inline-block">
    </div>

<form action=" {{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <input type="file" name="myfile"><br>
    <input type="submit" name="upload" style="margin-top: 15px">
</form>
<div>
    <p> 表格要求采用csv格式，附表内容：项目名称，环节名称，环节结束时间，环节归档时间，项目竣工时间，项目归档时间</p>
</div>
</body>
</html>